# Read Readme before doing anything


#________COMPULSORY____________

TG_BOT_TOKEN= "1777715701:AAE7oUnth7JIEaxmvcxjgTPqg6T4ijVfOvM"
APP_ID = 5073826
API_HASH = "d71d9df0d44489aee5df12f508d3dbb9"
OWNER_ID = 1741534174

# Add different ID separated by a SPACE (Like :: AUTH_CHANNEL = -10012503747 -10012586941 539295917)
AUTH_CHANNEL = -1001223740225


#__________NOT ________COMPULSORY____________ ::

# For RCLONE ::
# Name of the folder....not ID
DESTINATION_FOLDER = "TorrentToTg"
INDEX_LINK = ""

# OTHERS ::
EDIT_SLEEP_TIME_OUT = 5
MAX_TG_SPLIT_FILE_SIZE = 1072864000

#_____There are other vars too_____Read Readme to Know better____
#_____And fill them as new line if needed :)
